{% extends 'feed/feed.html' %} {% load static %} 
{% load custom_tags %} 
{% block feed %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/comment.css' %}" />
<script src="{% static 'js/events.js' %}"></script>


<div class="row">
  <div class="col-9 p-0">
    <h1
      class="text-center font-weight-bold border"
      style="text-decoration: underline; padding: 15px"
    >
      Feeds
    </h1>
    {% for project in projects %}
    <!--- Post-->
    <div
      class="card gedf-card"
      style="-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75)"
    >
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="">
              <img
                class="rounded-circle"
                width="45"
                src="{{project.user.extendeduser.image.url}}"
                alt=""
              />
            </div>
            <div class="mt-2">
              <div class="h-2 font-weight-bold ms-2" style="color: blue;">&nbsp;&nbsp;{{project.user.username}}</div>
              <div class="text-muted h7 mb-2 ms-2">&nbsp;
                <i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{project.created_by | timesince}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <section style="background-size: cover; text-align: center">
          <img
            src="{{project.image.url}}"
            class="img-fluid"
            style="max-height: 600px"
          />
        </section>
      </div>
      <div class="card-footer" style="display: inherit">
        <!-- <a href="#" class="card-link"
          ><i class="fa fa-thumbs-up"></i> {{project.likes.count}} Like</a
        > -->
        <form action="{% url 'like_post' project.pk %}" method="post">
          {% csrf_token %} {% if project not in liked_project %}
          <button
            class="fa fa-thumbs-up border-0"
            style="background: none"
            type="submit"
            name="project_id"
            value="{{project.id}}"
          ></button>
          <a class="card-link">{{project.likes.count}} Like</a>
          {% else %}
          <button
            class="fa fa-thumbs-up border-0"
            style="color: blue; background: none"
            aria-hidden="true"
            type="submit"
            name="project_id"
            value="{{project.id}}"
          ></button>
          <a class="card-link">{{project.likes.count}} Like</a>
          {% endif %}
        </form>
        <pre>   </pre>
        <a href="#demo" class="card-link" data-bs-toggle="collapse"
          ><i class="fa fa-comment"></i> {{commen}} Comment</a
        >
        <a href="#" class="card-link"
          ><i class="fa fa-mail-forward"></i> Share</a
        >
      </div>
      <!-- PROJECT CARD FOOTER -->
      <div
        class="card-footer collapse"
        id="demo"
        style="background-color: white"
      >
        <!-- PROJECT COMMENT IMAGE ->PROJECT COMMENT TEXT -->

        <div class="comment_img">
          {% for comment in project.comments.all %} 
          {% if project.project_name == comment.project.project_name %}
          <a href="#">
            <img
              src="{{comment.user.extendeduser.image.url}}"
              alt="No Image"
              style="width: 37px; height: 37px; border-radius: 50%"
            />
          </a>

          <!-- PROJECT COMMENT TEXT -->
          <div class="comment_text mb-2">
            <a href="#">{{comment.user.first_name}}</a>
            <span class="mb-4">{{comment.comments}}</span>
          </div>
          <!-- END OF THE COMMENT TEXT -->
          &nbsp; &nbsp; 
          {% if comment.user.username == user.username %}
          <button
            type="button"
            style="text-decoration: none"
            class="btn btn-link"
          >
            delete
          </button>
          {% endif %} 
          <br>
          {% endif %} 
          {%endfor%}
        </div>
        <!-- END OF THE PROJECT COMMENT IMAGE <- PROJECT COMMENT TEXT -->
        <hr />
        <!-- PROJECT COMMENT ->COMMENT BOX -->
        <div class="comment">
          <!-- COMMENT BOX -->
          <div class="comment-box">
            <div class="input">
              <img
                src="{{extra.image.url}}"
                style="width: 37px; height: 37px; border-radius: 50%"
              />
              <form method="post" action="" style="display: inline">
                {% csrf_token %}
                <input
                  type="text"
                  class="input-text"
                  name="user_comment"
                  style="display: inline-block"
                  placeholder="Add a comment here"
                />
                <button
                  type="submit"
                  class="btn btn-primary"
                  name="project_id"
                  value="{{project.id}}"
                  style="border-radius: 18px"
                >
                  Comment
                </button>
              </form>
            </div>
          </div>
          <!-- END OF THE COMMENT BOX -->
        </div>
        <!-- END OF THE PROJECT COMMENT <- COMMENT BOX -->
      </div>
      <!-- END OF THE PROJECT CARD FOOTER -->
      <!-- End Post-->
    </div>
    <!--  -->
    {% endfor %}
  </div>
  <div class="col-3">
    <h4 class="text-center border p-3">FILTER BY CATEGORIES</h4>
    <h2
      class="text-center border"
      style="height: 7rem; padding: 2rem; background-color: aqua"
    >
      ALL
    </h2>
    {% for category in categories %}
    <div
      style="
        background-image: url('{{category.image.url}}');
        min-height: 150px;
      "
      class="image-grid-cover"
    >
      <a href="/categoryPage/{{category.id}}/" class="cover-wrapper" style="top: 125px">{{category.name}}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
<script src="{% static 'js/events.js' %}"></script>
