<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profileShow.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'js/categoryJs.js' %}"></script>
    <style>
      #cardShadow {
        padding: 54px;
        margin: auto;
        min-height: 440px;
        -webkit-box-shadow: 2px 4px 10px 3px rgba(0, 0, 0, 0.29);
      }
      .button {
        width: 200px;
        margin-left: 25%;
        margin-top: 30px;
        border-radius: 30px;
        background: black;
      }
    </style>
  </head>
  <body>
    {% include 'homePage/navbar.html' %} {% block content %} {% endblock %}
    {%include 'homePage/footer.html' %}
    <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  </body>
</html>
