{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<!-- ABOUT US TEXT -->
<section class="about-section">
  <div class="container p-1 p-sm-3">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="about-us-title" style="text-decoration: underline;">ABOUT US</h1>
      </div>

      <div class="col-md-12 mt-5 about-us-content">
        <p>
          <a href="/" class="text-uppercase"> GLANCE YOUR SKILL </a>
          is a web-based online platform. Glance Your Skill is a self-promotion
          online platform. The intention of this website is providing an online
          platform to the user for showing their creativity, talent and share it
          on their resume and social media. By creating a profile on this
          platform users can show their several skills & concept (idea) by
          sharing the link of their profile page which lists all the projects
          added by the user.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- END OF THE ABOUT US TEXT -->
{% endblock %}
