{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container mt-3">
    <div class="card" style="-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);padding: 5px;">
        <div class="card-body p-0" style="height: 260px;">
            <div class="row text-center">
                <div class="col-4 offset-4">
            <img src="{{category.image.url}}" class="img-fluid" style="min-height: 200px;">
            <h3 class="text-center" style="color: white;position: relative;border: 2px solid;bottom: 35px;border-radius: 10px;font-family: arial;background: rgba(0, 0, 0,45);">{{category.name}}</h3> 
            </div>   
        </div>
        </div>
            <p class="text-center font-italic" style="color: green;">{{category.description}}</p>
    </div>
    <h2 class="text-center font-weight-bold text-uppercase" style="margin:1em 0;">
        Projects Related 
      </h2>
      <!-- PROJECT ROW -->
      <div class="row">
      <!-- PROJECT COLUMN -->
      {% for project in project %}
      <div class="col-md-3 project-inside mb-3">
        <div class="card p-2" style="-webkit-box-shadow: 1px 14px 21px -8px rgba(0,0,0,0.75);">
        <div class="project-img">
          <a href="#">
            <img src="{{project.image.url}}" class="img-fluid project-img" /> 
          </a>
        </div>
        <!-- PROJECT NAME -->
        <div class="project-name">
          <span>{{project.project_name|title}}</span>
        </div>
        <!-- END OF THE PROJECT NAME -->
        <!-- END OF THE PROJECT BOTTOM -->
        <div class="project-bottom">
          <a href="#" class="btn-link">
            {% for extra in extra %}
              {% if project.user == extra.user %}
                <img
                  src="{{extra.image.url}}"
                  class="user-img"
                />
              {% endif %}
            {% endfor %}
          </a>
            <span class="display-name text-capitalize font-weight-bold">
              {{project.user.first_name}}&nbsp;{{project.user.last_name}}</span
            >
          <!-- PROJECT LIKE,COMMENT -->
          <div class="like-comment">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <span>{{project.likes.count}}</span>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span>6</span>
          </div>
          <!-- END OF THE PROJECT LIKE,COMMENT -->
        </div>
        <!-- END OF THE PROJECT BOTTOM -->
      </div>
      </div>
      {% endfor %}
      <!-- END OF THE  PROJECT COLUMN -->
      </div>
      <!-- END OF THE PROJECT ROW -->
</div>
{% endblock %}